@media screen and (max-width:600px) {
    .divLogo > div{
        display: none;
    }

    .divLogo1{
        display: none;
    }

    .menu{
        display: flex;
    }

    headLine > h1{
        
        font-size: 3rem; 
        
    }

    .headline-section{
        display: block;
    }

    .features > .card{
        display: block;
    }

    .features > .img div{
        padding: 0.1rem 0.1rem ;
        height: 300px;
    }
    

    .faqs > div .content{
        display: block;
        
    }

    .price > div .cards{
        display: block;
        
    }

    .coments > .content{
        max-width: 90%;
    }

    .coments > .content .cards{
        display: block;
        
    }
    

}