@media screen and (max-width:600px) {
    .divLogo > div{
        display: none;
    }

    .divLogo1{
        display: none;
    }

    .headline-section{
        display: block;
    }

    .faqs > div .content{
        display: block;
        
    }

    .price > div .cards{
        display: block;
        
    }
    

}