@media screen and (max-width:600px) {
    .divLogo > div{
        display: none;
    }

    .divLogo1{
        display: none;
    }

    headLine > h1{
        
        font-size: 3rem; 
        
    }

    .headline-section{
        display: block;
    }

    .faqs > div .content{
        display: block;
        
    }

    .price > div .cards{
        display: block;
        
    }

    .coments > .content{
        max-width: 90%;
    }

    .coments > .content .cards{
        display: block;
        
    }
    

}