*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    display: flex;      
    height: 100%;        
    flex-direction: column;
}


/*  */
header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav{
    margin: auto;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.divLogo{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    font-size: 1.05rem;
}

.divLogo > div{
    display: flex;
    column-gap: 1.5rem
}

.divLogo > div a{
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem; /* 8px */
    text-decoration: none;
    
}

.divLogo > div a:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
    
}

.divLogo1{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.05rem;
}

.divLogo1 > div .a1{
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem; /* 8px */
    text-decoration: none;
}

.divLogo1 > div .a1:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
    
}

.divLogo1 > div .a2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px; 
    padding: 0.8rem 1rem; 
    font-size: 1.05rem  ; 
    background-color: #2563eb; 
    color: white; 
    text-decoration: none;
}

.divLogo1 > div .a2:hover{
    color: #f1f5f9; 
    background-color: #3b82f6;
}
/*  */

/*  */

headLine{
    margin: auto;
    padding: 5rem 1rem 4rem 1rem ; 
    text-align: center;
}

headLine > h1{
    margin: auto;
    padding-top: 7rem;
    font-size: 4rem; 
    color: #0f172a;
}

headLine > div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

headLine > div .a1{
    color: white;
    background-color: #0f172a;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 9999px;
}

headLine > div .a1:hover{
    color: rgb(241 245 249);
    background-color: rgb(55 65 81);
    text-decoration: none;
    padding: 0.8rem 1rem;
}

headLine > div .a2{
    color: rgb(51 65 85);
    background-color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 9999px;
    border: 0.05rem rgb(231, 228, 228) solid;
}

headLine > div .a2:hover{
    color: rgb(24 24 27);
    border: 0.05rem rgb(194, 191, 191) solid;
}

headLine > .cop{
    display: flex;
    flex-direction: column;
    margin: 10rem;
}

headLine > .cop div > img{
    padding: 0rem 1.5rem;
}

/*  */

section{
    padding: 5rem 0rem 7rem 0rem;
    background-image: url('./img/background-section01.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.text{
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem; 
    color: white;
}

.headline-section {
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    color: white;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
}

.card1{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.card2{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
}

.card2:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.5rem);
}


.img > img{
    border-radius: 0.75rem  ;
}

/*  */

 .price{
    padding: 2rem 0rem 3rem 0rem;
    background-color:#1e293b;
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.price > div  .text{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.price > div .cards{
    display: flex;
    font-size: 1rem;
    gap: 2rem;
    flex-direction: row;
    padding: 2rem 0rem 2rem 0rem;
}

.price > div .cards .card{
    padding: 1rem;
    border-radius: 1rem;
}

.price > div .cards .card p{
    font-size: 0.8rem;
}

.price > div .cards .card div a{
    padding: 0.5rem 7rem 0.5rem 7rem;
    border: silver solid 0.01rem;
    border-radius: 9999rem ;
    color: white;
    text-decoration: none;
}

.price > div .cards .card div a:hover{
    border: 0.05rem rgb(255, 255, 255) solid;
}

.price > div .cards .card h4 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.price > div .cards .card h4 img{
    margin-right: 0.8rem;
}











/*  */

.poster{
    padding: 4rem 0rem 6rem 0rem;
    background-image: url('./img/background-section01.jpg'); 
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.poster > div{
    text-align: center;
    color: white;
}

.poster > div .a3{
    display: inline-block;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 1rem; /* 8px */
    text-decoration: none;
    background-color: white;
}

.poster > div .a3:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
    
}

/*  */

.faqs{
    padding: 4rem 0rem 7rem 0rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./img/background-faqs1.png'); 
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.faqs > div{
    align-items: start;
}

.faqs > div .text{
    text-align: start;
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.faqs > div .content{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 0.7rem;
}

/*  */

footer{
    display: block;
}

footer > div{
    display: flex;
    justify-content: center;
}

.top{
    align-items: center;
    padding: 4rem 0rem 4rem 0rem;
}

.divLogo-footer > div{
    display: flex;
    column-gap: 1.5rem
}

.divLogo-footer > div a{
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem;
    text-decoration: none;
    
}

.divLogo-footer > div a:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
}

.bottom{
    border-top: 1px solid rgba(67, 76, 94, 0.1);
}


/*  */