*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    display: flex;      
    height: 100%;        
    flex-direction: column;
    background-color: white;
    font-size: 15px;
}


/*  */
header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav{
    margin: auto;
    max-width: 80rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.divLogo{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    font-size: 1.05rem;
}

.divLogo > div{
    display: flex;
    column-gap: 1.5rem
}

.divLogo > div a{
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem; /* 8px */
    text-decoration: none;
    
}

.divLogo > div a:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
    
}

.divLogo1 {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.05rem;
}

.divLogo1 > div button.a1, .divLogo1 > div button.a2 {
    display: inline-flex; /* Usando inline-flex para os botões ficarem alinhados */
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    border: none;
    background: none;
    font-size: 1.05rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.5rem; /* Mesmo border-radius que você usava */
}

.divLogo1 > div button.a1 {
    color: rgb(51, 65, 85);
}

.divLogo1 > div button.a1:hover {
    background-color: rgb(241, 245, 249);
    color: rgb(15, 23, 42);
}

.divLogo1 > div button.a2 {
    border-radius: 9999px; /* Botão arredondado */
    padding: 0.8rem 1rem;
    background-color: #2563eb;
    color: white;
}

.divLogo1 > div button.a2:hover {
    color: #f1f5f9;
    background-color: #3b82f6;
}

/* Foco no botão para acessibilidade visual */
.divLogo1 > div button:focus {
    outline: none; /* Remove o outline padrão */
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); /* Adiciona um foco personalizado */
}


.menu{
    display: none;
    align-items: center;
    cursor: pointer;
}

.menu > .img01 img{
    width: 50px;
}

.menu > .show01{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 1rem;
    display: none;  
    flex-direction: column;
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
    color: #0f172a;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(15, 23, 42, 0.05);
}

.menu > .show01 div a{
    display: block;
    padding: 1rem 0.5rem 1rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem; /* 8px */
    text-decoration: none;
}

.menu > .show01 div div{
    border-top: 1px rgb(51 65 85) solid;
}


/*  */

/*  */

headLine{
    margin: auto;
    padding: 5rem 1rem 4rem 1rem ; 
    text-align: center;
}

headLine > h1{
    margin: auto;
    padding-top: 7rem;
    font-size: 4rem; 
    color: #0f172a;
}

headLine > div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

headLine > div .a1{
    color: white;
    background-color: #0f172a;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 9999px;
}

headLine > div .a1:hover{
    color: rgb(241 245 249);
    background-color: rgb(55 65 81);
    text-decoration: none;
    padding: 0.8rem 1rem;
}

headLine > div .a2{
    color: rgb(51 65 85);
    background-color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 9999px;
    border: 0.05rem rgb(231, 228, 228) solid;
}

headLine > div .a2:hover{
    color: rgb(24 24 27);
    border: 0.05rem rgb(194, 191, 191) solid;
}

headLine > .cop{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

headLine > .cop div > img{
    padding: 0rem 1.5rem;
}


/*  */

section{
    padding: 5rem 0rem 7rem 0rem;
    background-image: url('./img/background-section01.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.text{
    margin: auto;
    text-align: center;
    padding: 3rem;
    font-size: 2rem; 
    color: white;
}

.text p{
    font-size: 1rem;
}

.headline-section {
    display: flex;
    justify-content: center;
}

.cards{
    display: flex;
    color: white;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
}

.card1{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.card2{
    height: 8rem;
    border-radius: 1rem;
    padding: 1rem;
}

.card2:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.5rem);
}

.headline-section > .img{
    display: flex;
    align-items: center;
}
.headline-section > .img  img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.75rem;
}

/*  */

.features{
    margin: auto;
}

.features > .text{
    color: #0f172a;
    font-size: 1rem;
}

.features > .card{
    display: flex;
    justify-content: center;
    gap: 3;
    margin-top: 2rem;
    max-width: 605;
}

.features > .card .cards{
    padding: 2rem;
    color: #0f172a;
    cursor: pointer;
    border-radius: 2rem;
}

.features > .card .cards:hover{
    background-color: #f1f5f9;
}

.features > .card .cards div .p1{
    font-style: oblique;
    font-size: 1.1rem;
}

.features > .card .cards div div{
    width: 2.25rem; 
    height: 2.25rem;
    border-radius: 0.5rem; 
    background-color: #64748b;
}



.features > .img{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.features > .img div{
    padding: 1rem 1rem ;
    border-radius: 2rem;
    height: 600px;
    background-color: #f1f5f9;
}

.features > .img div img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    margin: 0rem 0rem;
}


/*  */
.coments{
    margin: auto;
}

.coments > .text{
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    font-size: 1rem;
    color: #0f172a;
}

.coments > .content{
    margin: auto;
    max-width: 60%;
    max-width: 60%;
}

.coments > .content .cards{
    display: flex;
    font-size: 1rem;
    gap: 2rem;
    flex-direction: row;
}

.coments > .content  .cards .card{
    max-width: 100%;
    margin: 1rem 0rem;
    color: #0f172a;
    border-radius: 1rem; 
    background-color: white;
    padding: 1.5rem; 
    box-shadow: 0 1px 3px rgba(15, 23, 42, 0.1), 0 1px 2px rgba(15, 23, 42, 0.1); 
}

.coments > .content  .cards .card div{
    display: flex;
    border-top: 1px solid rgba(67, 76, 94, 0.1);
}

.coments > .content  .cards .card div .name{
    display: block;
    font-size: 0.8rem;
}

.coments > .content  .cards .card div .img{
    margin-left: auto;
    align-items: center;
    width: 70px;

}



/*  */

 .price{
    padding: 2rem 0rem 3rem 0rem;
    background-color:#1e293b;
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.price > div  .text{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.price > div .cards{
    display: flex;
    font-size: 1rem;
    gap: 2rem;
    flex-direction: row;
    padding: 2rem 0rem 2rem 0rem;
}

.price > div .cards .card{
    padding: 1rem;
    border-radius: 1rem;
}

.price > div .cards .card p{
    font-size: 0.8rem;
}

.price > div .cards .card div a{
    padding: 0.5rem 7rem 0.5rem 7rem;
    border: silver solid 0.01rem;
    border-radius: 9999rem ;
    color: white;
    text-decoration: none;
}

.price > div .cards .card div a:hover{
    border: 0.05rem rgb(255, 255, 255) solid;
}

.price > div .cards .card h4 {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.price > div .cards .card h4 img{
    margin-right: 0.8rem;
}

/*  */

/*  */

.poster{
    padding: 4rem 0rem 6rem 0rem;
    background-image: url('./img/background-section01.jpg'); 
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.poster > div{
    text-align: center;
    color: white;
}

.poster > div .a3{
    display: inline-block;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 1rem; /* 8px */
    text-decoration: none;
    background-color: white;
}

.poster > div .a3:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
    
}

/*  */

.faqs{
    padding: 4rem 0rem 7rem 0rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./img/background-faqs1.png'); 
    background-size: cover; 
    background-position: center;
    margin-top: 3rem ;
    display: flex;
    justify-content: center;
}

.faqs > div{
    align-items: start;
}

.faqs > div .text{
    text-align: start;
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.faqs > div .content{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 0.7rem;
}

/*  */

footer{
    display: block;
}

footer > div{
    display: flex;
    justify-content: center;
}

.top{
    align-items: center;
    padding: 4rem 0rem 4rem 0rem;
}

.divLogo-footer > div{
    display: flex;
    column-gap: 1.5rem
}

.divLogo-footer > div a{
    display: inline-block;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: rgb(51 65 85);
    border-radius: 0.5rem;
    text-decoration: none;
    
}

.divLogo-footer > div a:hover{
    background-color:  rgb(241 245 249);
    color: rgb(15 23 42);
}

.bottom{
    border-top: 1px solid rgba(67, 76, 94, 0.1);
}


/*  */


.botao {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#acessibilidade-btn {
    background-color: #2563eb;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

#acessibilidade-btn:hover {
    background-color: #007bff;
}

#acessibilidade-btn i {
    margin-right: 8px;
    font-size: 20px;
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content > button {
    padding: 12px 20px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff; /* Azul */
    border: none;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

.modal-content > button:hover {
    background-color: #0056b3; /* Tom mais escuro no hover */
    transform: translateY(-2px); /* Efeito de elevação no hover */
}

.modal-content > button:active {
    transform: translateY(1px); /* Leve recuo no clique */
}

.close {
    display: flex;
    justify-content: end;
    font-size: 24px;
    cursor: pointer;
}

/*  */


.modal2 {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}



/* Container */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1.5rem;
}

.logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  height: 40px;
  width: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.form-container {
  max-width: 480px;
  margin: 0 auto;
}

.form-card {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.875rem;
  color: #333;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.checkbox-label {
  font-size: 0.875rem;
  color: #333;
}

.forgot-password {
  font-size: 0.875rem;
  color: #4c51bf;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.submit-button {
  background-color: #4c51bf;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #434190;
}

.divider {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

.divider-text {
  background-color: #fff;
  padding: 0 1rem;
  font-size: 0.875rem;
  color: #333;
}

.social-login {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-button {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  gap: 0.5rem;
}

.social-button.google {
  background-color: #fff;
  color: #ea4335;
}

.social-button.github {
  background-color: #fff;
  color: #333;
}

.social-icon {
  width: 1.5rem;
  height: auto;
}

.sign-up-prompt {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-top: 1.5rem;
}

.sign-up-link {
  color: #4c51bf;
  text-decoration: none;
}

.sign-up-link:hover {
  text-decoration: underline;
}



/*  */